PORT=3000
MONGODB_USER=yourUser
MONGODB_PASSWORD=yourPassword
MONGODB_URL=yourCluster.mongodb.net
MONGODB_DB=yourDB

JWT_ACCESS_SECRET=yoursecret
JWT_REFRESH_SECRET=yourrefreshsecret

SMTP_HOST=your_smtp_host
SMTP_PORT=your_smtp_port
SMTP_USER=your_brevo_email
SMTP_PASSWORD=your_brevo_smtp_password
SMTP_FROM=your_brevo_email

JWT_SECRET=your_reset_jwt_secret
APP_DOMAIN=http://localhost:3000/auth

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret